@import "tailwindcss";

@font-face {
  font-family: "Geist";
  src: url("../assets/Geist-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  --color-primary: #18181b;
  --color-secondary: #5951a3;
  --color-tertiary: #212124;
  --color-quaternary: #5f3cf7;
  --color-fifth: #d9d9d9;
  --color-pri: #ffffff;
  --color-sec: #98989a;
  --color-border-pri: #353537;
  --color-sixth: #39393f;
  --color-seventh: #a1a1a1;
}

:root {
  color: white;
  background: var(--color-primary);
  font-family: "Geist", sans-serif;
}

html {
  /* Offset para compensar el header sticky */
  scroll-padding-top: 5rem;
}
