---
import Avatares from './ui/Avatares.astro';
import ProjectsCarousel from './ui/ProjectsCarousel.astro';
---

<main class="relative h-full flex flex-col items-center justify-center px-4 sm:px-0">
  <div
    class="absolute inset-0 -z-10 w-full h-105 md:h-86 lg:h-99 xl:h-101 2xl:h-128
      [background:radial-gradient(120%_100%_at_50%_10%,var(--color-primary)_42%,var(--color-secondary)_100%)] rounded-b-3xl"
  >
  </div>

  <div class="relative z-10 w-full max-w-5xl text-center">
    <!-- Badge -->
    <div
      class="inline-flex items-center bg-sixth px-3 py-2 rounded-full text-white font-normal mb-3 md:mb-1 lg:mb-4 2xl:mb-6"
    >
      <span class="text-sm text-gray-200">⚡Bienvenido</span>
    </div>

    <!-- Título -->
    <h1
      class="text-3xl md:text-4xl lg:text-5xl 2xl:text-6xl mb-3 md:mb-2 lg:mb-4 2xl:mb-8 text-balance font-medium tracking-tighter text-white leading-tight"
    >
      Creamos las herramientas
      <br />
      que usas cada día
    </h1>
  </div>

  <!-- Descripción -->
  <p
    class="font-medium px-2 md:px-8 pb-4 md:pb-4 2xl:pb-10 xl:text-xl text-center text-seventh text-base md:text-lg text-balance tracking-tighter"
  >
    Desarrollamos y mantenemos un ecosistema de aplicaciones web enfocadas en la
    música, el diseño y la productividad para miles de usuarios.
  </p>

  <!-- Botones -->
  <div
    class="flex flex-col sm:flex-row items-center justify-center gap-3 pb-4 md:pb-4 2xl:pb-8"
  >
    <a
    href="#proyectos"
      class="cursor-pointer bg-quaternary hover:bg-white hover:text-gray-800 text-white font-semibold 
      rounded-full transition-colors ease-in-out duration-500 text-sm px-4 py-2 md:text-sm md:px-2 md:py-1 lg:text-base lg:px-4 lg:py-2 2xl:text-lg 2xl:px-6 2xl:py-3"
    >
      Explorar Proyectos
  </a>
    <a
      href="/blog"
      class="cursor-pointer bg-tertiary text-white font-semibold rounded-full transition border border-gray-600 hover:border-gray-900 ease-in-out duration-500 text-sm px-4 py-2 md:text-sm md:px-2 md:py-1 lg:text-base lg:px-4 lg:py-2 2xl:text-lg 2xl:px-6 2xl:py-3"
    >
      Blog
    </a>
  </div>

  <!-- Avatares -->
  <Avatares />
</main>

<ProjectsCarousel />
