---
import PricingCard from './Precios/PricingCard.astro';
---

<section class="w-full max-w-7xl mx-auto px-6 py-20">
  <div class="text-center mb-16">
    <h2 class="text-4xl md:text-5xl font-medium tracking-tighter text-pri mb-2">Precios</h2>
    <p class="text-sec text-lg tracking-tighter">Selecciona el plan perfecto para ti.</p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-8" id="plans-container">
    <!-- Plan Productor -->
    <PricingCard
      title="Plan Productor"
      price={5}
      plan="productor"
      features={[
        "Acceso a nuestra IA Vocal Remover",
        "15 Procesos por día",
        "Soporte 24/7",
      ]}
    />

    <!-- Plan DJ (Recomendado) -->
    <PricingCard
      title="Plan DJ"
      price={10}
      plan="dj"
      className="bg-linear-160 from-[#2C2C32] via-[#2C2C32] to-[#33468F]/70"
      features={[
        "Acceso a Vip Remixer",
        "100 Créditos para realizar compras",
        "Acceso a nuestra IA Vocal Remover",
        "5 Procesos por día",
        "Soporte 24/7",
      ]}
    />

    <!-- Plan DJ / Productor -->
    <PricingCard
      title="Plan DJ / Productor"
      price={20}
      plan="combo"
      features={[
        "Acceso a Vip Remixer",
        "200 Créditos (+25 créditos)",
        "Acceso a nuestra IA Vocal Remover",
        "15 Procesos por día",
        "Acceso anticipado a futuras Apps.",
        "Soporte 24/7",
      ]}
    />
  </div>
</section>
