<section id="hero" class="w-full relative">
    <div
      class="absolute inset-0 -z-10 h-150 w-full 
      [background:radial-gradient(120%_100%_at_50%_10%,var(--color-primary)_42%,var(--color-secondary)_100%)] rounded-b-xl"
    >
    </div>
</section>
