---
import FaqComponent from "./index.tsx";
---

<section>
  <h1 class="text-center text-3xl font-medium tracking-tighter">Preguntas Frecuentes</h1>
  <p class="text-center text-sec mt-4 mb-8">
    Si tienes preguntas adicionales, contáctanos desde el soporte o por nuestras
    redes sociales
  </p>
  <FaqComponent client:visible />
</section>
