---
import { Image } from 'astro:assets';
import RemoverPng from '../../assets/logos/vocalRemo.png';
---

<header class="">
  <a 
  href="https://vocalremover.winkermind.com"
  target="_blank"
  rel="noopener noreferrer"
  class="flex items-center gap-4 justify-center">
    <figure class="size-12">
      <Image
        src={RemoverPng}
        alt="Vocal Remover Logo"
        class="w-12 h-12 object-contain" />
    </figure>
    <article>
      <h2 class="text-4xl font-normal text-white tracking-tighter">
        Vocal Remover
      </h2>
    </article>
  </a>

  <p class="font-extralight tracking-tighter text-lg text-center pb-4">
    Extrae vocales, instrumentales y stems de cualquier canción
  </p>
</header>
