<header class="">
  <section class="flex items-center gap-4 justify-center">
    <div class="size-16 bg-white rounded-xl mb-4"></div>
    <article>
      <h2 class="text-4xl font-normal text-white tracking-tighter">
        Vocal Remover
      </h2>
    </article>
  </section>

  <p class="font-extralight tracking-tighter text-lg text-center pb-4">
    Extrae vocales, instrumentales y stems de cualquier canción
  </p>
</header>
