<div class="flex flex-col items-center gap-4">
  <div class="flex items-center -space-x-3">
    <div
    class="w-10 h-10 rounded-full bg-linear-to-br from-gray-400 to-gray-500 border-2 border-slate-900"
    >
    </div>
    <div
    class="w-10 h-10 rounded-full bg-linear-to-br from-gray-400 to-gray-500 border-2 border-slate-900"
    >
    </div>
    <div
    class="w-10 h-10 rounded-full bg-linear-to-br from-gray-400 to-gray-500 border-2 border-slate-900"
    >
    </div>
    <div
    class="w-10 h-10 rounded-full bg-linear-to-br from-gray-400 to-gray-500 border-2 border-slate-900"
    >
    </div>
    <div
    class="w-10 h-10 rounded-full bg-linear-to-br from-gray-400 to-gray-500 border-2 border-slate-900"
    >
    </div>
    <div
    class="w-10 h-10 rounded-full bg-linear-to-br from-gray-400 to-gray-500 border-2 border-slate-900"
    >
    </div>
    <div
    class="w-10 h-10 rounded-full bg-linear-to-br from-gray-400 to-gray-500 border-2 border-slate-900"
    >
    </div>
    <div
    class="w-10 h-10 rounded-full bg-slate-800 border-2 border-slate-900 flex items-center justify-center text-xs text-gray-400 font-semibold"
    >
    +10k
    </div>
  </div>
  <p class="text-xs text-gray-400">
      +10,000 Visitantes diarios
  </p>
</div>